@use "index" as *;

:host {
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 540px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 40px;
}

app-todo-list {
  margin-top: 16px;

  @include desktop {
    margin-top: 24px;
  }
}

app-filter {
  margin-top: 16px;
}

footer {
  margin-top: 40px;

  @include desktop {
    margin-top: 48px;
  }

  // Typography
  color: var(--footer-text-color);
  font-size: 14px;
  letter-spacing: -0.194px;
  text-align: center;
}
