@use "index" as *;

:host {
  // Center content for manual testing
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 10px;

  @include desktop {
    font-size: 40px;
    letter-spacing: 15px;
  }
}
