<svg viewBox="0 0 24 24" fill="none">
  <g *ngIf="isChecked(); else unchecked">
    <circle cx="12" cy="12" r="12" fill="url(#svg-checkmark-gradient)" />
    <path d="M8 12.3041L10.6959 15L16.6959 9" stroke="white" />
  </g>
  <defs>
    <linearGradient id="svg-checkmark-gradient" x1="-12" y1="12" x2="12" y2="36"
        gradientUnits="userSpaceOnUse">
      <stop stop-color="#55DDFF" />
      <stop offset="1" stop-color="#C058F3" />
    </linearGradient>
  </defs>

  <ng-template #unchecked>
    <circle cx="12" cy="12" r="11.5" fill="none"
        [attr.stroke]="isHighlighted() ? 'url(#svg-checkmark-gradient)' : circleStroke()" />
  </ng-template>
</svg>
