<label class="g-checkbox-container checkbox-label" (mouseenter)="isHighlighted = true"
    (mouseleave)="isHighlighted = false">
  <input class="g-checkbox" type="checkbox" [id]="id()" [(ngModel)]="todoItem().isCompleted"
      (focus)="isHighlighted = true" (blur)="isHighlighted = false">
  <svg-checkmark [isChecked]="todoItem().isCompleted()" [isHighlighted]="isHighlighted" />
</label>
<label class="description g-todo-text" [class.checked]="todoItem().isCompleted()"
    [for]="id()">{{ todoItem().description }}</label>
<button class="delete-button" type="button" (click)="destroy()" aria-label="Delete todo">
  <svg-cross />
</button>
