@use "index" as *;

:host {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--todo-border-color);
  min-height: 53px;
  padding: 16px 20px;
  gap: 12px;

  @include desktop {
    min-height: 65px;
    padding: 20px 24px;
    gap: 24px;
  }
}

.description {
  cursor: pointer;

  &.checked {
    text-decoration: line-through;
    color: var(--todo-text-color-checked);
  }
}

// Delete button ****************************************************

:host:focus-within .delete-button,
:host:hover .delete-button {
  z-index: 1;
}

.delete-button {
  margin-left: auto;

  @include desktop {
    z-index: -1;
  }
}

.checkbox-label,
.delete-button {
  min-width: fit-content;
}
