@use "index" as *;

:host {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--todo-border-color);
  height: 53px;
  padding: 0 20px;

  @include desktop {
    height: 65px;
    padding: 0 24px;
  }
}

.description {
  cursor: pointer;
  padding: 0 12px;

  @include desktop {
    padding: 0 24px;
  }

  &.checked {
    text-decoration: line-through;
    color: var(--todo-text-color-checked);
  }
}

// Delete button ****************************************************

:host:focus-within .delete-button,
:host:hover .delete-button {
  display: block;
}

.delete-button {
  margin-left: auto;

  @include desktop {
    display: none;
  }
}
