@use 'reset';
@use 'index' as *;

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--canvas-color);

  // Custom properties *********************************************
  --canvas-color: #FAFAFA;

  &.dark-theme {
    --canvas-color: #171823;
  }
}
